[Unit]
Description=SnakeScope Video
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/avmu/data-host-api/
ExecStart=/usr/bin/python3 "/home/pi/avmu/data-host-api/app.py"

[Install]
WantedBy=multi-user.target
